{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="accion_container">
    <div class="d-flex justify-content-between align-items-center">
        <h4>ASESOR: <b>{{ user.get_username }}</b> </h4>
        <img src="{% static 'img/Logo-1.png' %}" alt="Mappit Logo" width="100">
    </div>

    <div class="mt-3">
        <div class="col-md-4">
            <button class="con_accion">
                <p><b>CREAR CONSULTA</b></p>
            </button>
        </div>
        <div class="col-md-4">
            <button class="con_accion">
                <p><b>SEGUIMIENTO DE CONSULTA</b></p>
            </button>
        </div>
        <div class="col-md-4">
            <button class="con_accion">
                <p><b>SEGUIMIENTO</b></p>
            </button>
        </div>
    </div>
</div>

{% endblock %}