{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="accion_container1">
    <div class="d-flex justify-content-between align-items-center">
        <h3>VER ASESORES</h3>
        <img src="{% static 'img/Logo-1.png' %}" alt="Mappit Logo" width="100">
    </div>
    <br>
    <div>
        <label ><b>Seleccione el asesor: </b></label>
        <div class="d-flex gap-4">
            <div class="">
                <select id="asesor1Select" class="form-select" aria-label="Default select example">
                    <option selected>...</option>
                </select>
            </div>
            <div>
                <button class="btn btn-primary">Ir</button>
            </div>
        </div>
    </div>
    <br><br>
    <div>
        <p><b>Unidades economicas asignadas:</b></p>
        <div class="table-responsive">
          <table class="table table-bordered" id="tablaSeguimiento">
            <thead class="table-primary">
              <tr>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Municipio</th>
                <th>Localidad</th>
                <th>Latitud</th>
                <th>Longitud</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
      
            </tbody>
          </table>
        </div>
    </div>

</div>


{% endblock %}