
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: auto;
}

.logo {
    max-width: 150px;
    margin-bottom: 20px;
}

.ilus {
    max-width: 120px;
    margin-bottom: 20px;
}
